# Paths
steamcmd.path=<absolute path to a steamcmd EXECUTABLE (eg. C:\\SteamCMD\\steamcmd.exe)>
installDir=<absolute path to a directory where the mods are installed>
serverDir=<absolute path to Arma 3 server>
config.path=<path to json config files>

# Server config
hostName=<server-hostname>

# Steam config
steam.api.key=<steam api key>

# File upload limits
spring.servlet.multipart.max-file-size=100MB
spring.servlet.multipart.max-request-size=100MB

# Misc settings
jsonDb.key=<key used for json database encryption

# App Login
username=
password=