# Paths
steamcmd.path=<absolute path to a steamcmd EXECUTABLE (eg. C:\\SteamCMD\\steamcmd.exe)>
installDir=<absolute path to a directory where the mods are installed>
serverDir=<absolute path to Arma 3 server>
config.path=<path to json config files>

# Server config
hostName=<server-hostname>
betaBranch=<optional-beta-branch>
additionalMods=mod1,mod2,...

# File upload limits
spring.servlet.multipart.max-file-size=100MB
spring.servlet.multipart.max-request-size=100MB

# App Login
auth.username=
auth.password=

# Process logs settings
steamcmd.logDir=
arma3server.logDir=

# MongoDB setting
spring.data.mongodb.host=<db-hostname>
spring.data.mongodb.port=<db-port>
spring.data.mongodb.database=<db-name>
spring.data.mongodb.username=<db-user>
spring.data.mongodb.password=<db-user-password>

# database encryption settings
mongodb.encrypt.keys[0].version=1
mongodb.encrypt.keys[0].key=hqTaSs8gUHEoovpzOYvYDzDHAqRXTtQC65EkDmJ99rw=