### Secrets, API keys
# Steam API key, needed for Steam Workshop interaction.
# Generated with https://steamcommunity.com/dev/apikey.
steam.api.key=<API-KEY>

### App Login
# Username and password used for logging into the admin UI.
auth.username=user
auth.password=password

# JWT secret
# Used for creating JSON web tokens for app authentication.
# Any string can be used as a secret. The secret should be at least 32 characters long.
jwt.secret=<JWT secret key>

# Database encryption secret used for encrypting the Steam account password inside the database.
# Must be a valid AES 256-bit key (https://www.allkeysgenerator.com/Random/Security-Encryption-Key-Generator.aspx).
# This setting is optional. In case the secret is not provided, the password will be stored in plain text form.
database.encryption.secret=<AES-256 key>

### Paths
# Absolute path to SteamCMD executable.
steamcmd.path=/usr/games/steamcmd

# Absolute path to a directory where the mods (and temporary server files) are installed.
directory.mods=/home/arma3gui/mods

# Absolute path to servers base folder.
directory.servers=/home/arma3gui/servers/

# Logs directory for Arma 3 server and additional servers.
arma3server.logDir=/home/arma3gui/logs/server


### Server config
# Additional mods to be activated when running the server that are not managed through the UI.
# Comma separated list, such as: mod1,mod2,mod3. Can be left blank in most cases.
additionalMods=


### Database settings
spring.datasource.url=jdbc:mysql://localhost:3306/arma3gui_db
spring.datasource.username=arma3gui
spring.datasource.password=example
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver


### File upload limits
# Can limit the maximum size of scenario files that are uploaded through the UI.
spring.servlet.multipart.max-file-size=100MB
spring.servlet.multipart.max-request-size=100MB
